/**
 * CSS for the MediaList plugin
 * @author Michael Klier <chi@chimeric.de>
 */

div.dokuwiki ul.medialist {
  list-style: none;
  margin-left: 0;
} 
div.dokuwiki ul.medialist span.mediainfo {
  font-size: 90%;
}
