/**
 * CSS for the MediaList plugin
 * @author Michael Klier <chi@chimeric.de>
 */

.dokuwiki ul.medialist {
  list-style: none;
  margin-left: 0;
}
.dokuwiki ul.medialist a.linked {
  font-weight: bold;
}
.dokuwiki ul.medialist span.mediainfo {
  font-size: 90%;
}
